{
    "parserOptions": {
      "ecmaVersion": 6,
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "plugins": [
        "jasmine"
    ],
    "env": {
      "jasmine": true
    },
    "extends": [
      "airbnb-base",
      "plugin:jasmine/recommended",
    ],
    "rules": {
      semi: ["error", "never"],
      import/no-unresolved: [2, { ignore: ['atom'] }],
      no-underscore-dangle: ["error", { "allowAfterThis": true }]
    },
    "globals":{
        "atom": false,
        "waitsForPromise": false
    }
}
